body {
    font-family: Arial, sans-serif;
  }
  nav {
    color: rgb(11, 10, 10);
    font-size: 35px;
    display: flex;
    justify-content: center;
  
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:0 85px;
    gap: 1rem;
  }
  
  nav a {
    color: rgb(20, 19, 19);
    text-decoration: none;
    transition: color 0.2s;
    width:200px;
  }
  
  nav a:hover {
    color:black;
  }
  
  .container {
    padding: 2rem;
  }
  
  .info h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .memberList,.memberListG,.memberListS,.memberListW li {
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .memberList,.memberListG,.memberListS,.memberListW li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .contain{
    display: flex;
    flex-direction: column;
  }
  .info{
    display: flex;
    width:80%;
    height:100px;
    color:rgb(50, 49, 49);
    font-size: 30px;
    padding: 10px;
    align-content: center;
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
    margin:8px;
  }
  .info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .test{
    /* background-color: rgb(86, 157, 228); */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
  .test a{
    padding: 3px;
    background-color: rgb(86, 157, 228);
  }
  .test a:hover{
    color: #6a6565;
  }
  
  .dashboard h1,.dashboard p{
  font-size: 25px;
  padding: 8px 0;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 900;
  }
  .memberList, .memberListG, .memberListS,.memberListW{
    border: 1px solid black;
    /* background-color: rgb(227, 247, 247); */
    width:60%;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding: 10px;
    margin-top: 40px;
    margin-left: 250px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.1),
  0 16px 32px rgba(0, 0, 0, 0.1),
  0 32px 64px rgba(0, 0, 0, 0.1);
  }
  .memberList li,.memberListG li,.memberListS li,.memberListW li{
   height: 50px;
   font-size: 25px;
   padding-left: 6px;
   margin-bottom: 10px;
   background-color: rgb(200, 208, 208);
   /* background-color: rgb(190, 97, 97); */
  }
  .memberList li:hover{
    background-color:rgb(236, 63, 63);
  }
  .memberListG li:hover{
    height: 50px;
    font-size: 25px;
    background-color:rgb(236, 63, 63);
   }
   .memberListS li:hover{
    height: 50px;
    font-size: 25px;
    background-color:rgb(236, 63, 63);
   }
   .memberListW li:hover{
    height: 50px;
    font-size: 25px;
    background-color:rgb(236, 63, 63);
   }
  .memberList h1{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .memberListS h1{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .memberListG h1{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .memberListW h1{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .dashboard{
    border: 2px solid rgb(11, 11, 15);
   margin: 50px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  border-radius: 3px;
  /* justify-content: center; */
  align-items: center;
  width:920px;
  margin: 20px auto;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.1),
  0 16px 32px rgba(0, 0, 0, 0.1),
  0 32px 64px rgba(0, 0, 0, 0.1);
  }

  .user-analysis-info{
    width: 100%;
    margin-left: 150px;
    
  }