.help-support {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .help-support h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
  }
  
  .help-support section {
    margin-bottom: 20px;
  }
  .help-support section h2 {
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 600;
  }
  
  .help-support h2 {
    color: #2c3e50;
    /* color: #09090939; */
    margin-bottom: 10px;
  }
  
  .help-support ol, .help-support ul {
    margin-left: 20px;
  }
  
  .help-support ol li, .help-support ul li {
    margin-bottom: 10px;
  }
  .help-support ol li{
    color: #3a3a3c;
  }
  
  .help-support .faq h3 {
    margin-top: 10px;
  }
  
  .help-support a {
    color: #3498db;
    text-decoration: none;
  }
  
  .help-support a:hover {
    text-decoration: underline;
  }
  
  body {
    background-color: #ffe6e6; /* Light Blush Pink */

  }