
/* #root {
    max-width: 1000px;
    margin: 80px auto;
    padding: 2rem;
    text-align: center;
  } */
 .body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  .head{
      font-size: 2.5rem;
      padding-top: 2rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .app{
    border:2px solid black;
    padding-bottom:40px;
    margin: 160px auto;
    width: 600px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1),
    0 32px 64px rgba(0, 0, 0, 0.1);
  }
  .loginBody{
    background-color: #e0f7fa; /* Light blue background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .otpInput{
    border: 2px solid black;
      height:80px;
      width:80px;
      margin: 5px;
      border-radius: 4px;
      padding: 28px;
      font-size: 40px;
  }