.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background-color: rgb(17, 34, 128);
    
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
    
  }
  .navbar-left .nav-item {
    margin-right: 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar-right .icon {
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
  }
  

  .navbar-right{
display: flex;
justify-content: space-between;
gap: 30px;

  }

